# Methods of List

In [49]:
l1 = [1, 'a', 2.3, 'xyz', 99, 0, 2.1]

In [9]:
l1.append('new')
# Adds the value to the list

In [10]:
l1

[1, 'a', 2.3, 'xyz', 99, 0, 2.1, 'new']

In [11]:
l1.clear()
# Clears the list

In [12]:
l1

[]

In [13]:
l1 = [1, 'a', 2.3, 'xyz', 99, 0, 2.1]

In [14]:
l2 = l1.copy()
# Copy the whole list to a new list

In [15]:
l2

[1, 'a', 2.3, 'xyz', 99, 0, 2.1]

In [16]:
l1.count('xyz')
# Counts the occurence of any individual value in the list

1

In [17]:
l1.append('xyz')

In [18]:
l1

[1, 'a', 2.3, 'xyz', 99, 0, 2.1, 'xyz']

In [19]:
l1.count('xyz')

2

In [28]:
l1.extend(2.3)

TypeError: 'float' object is not iterable

In [26]:
l1.extend('a')
# Adds the string value or another list to the list. Takes only iterable value as input and not int or float.

In [27]:
l1

[1, 'a', 2.3, 'xyz', 99, 0, 2.1, 'xyz', 'a', 'd', 'd', 'a', 'a']

In [29]:
l1.extend([1, 2, 3])

In [30]:
l1

[1, 'a', 2.3, 'xyz', 99, 0, 2.1, 'xyz', 'a', 'd', 'd', 'a', 'a', 1, 2, 3]

In [31]:
l1.index('a')

1

In [32]:
l1.index('a',3)
# Returns the index value of the value in the list

8

In [33]:
l1.insert(0,'prefix')

In [34]:
l1

['prefix',
 1,
 'a',
 2.3,
 'xyz',
 99,
 0,
 2.1,
 'xyz',
 'a',
 'd',
 'd',
 'a',
 'a',
 1,
 2,
 3]

In [35]:
l1.insert(17,'suffix')
# Inserts the value or object at the index provided

In [36]:
l1

['prefix',
 1,
 'a',
 2.3,
 'xyz',
 99,
 0,
 2.1,
 'xyz',
 'a',
 'd',
 'd',
 'a',
 'a',
 1,
 2,
 3,
 'suffix']

In [37]:
l1.pop()
# Removes the item from the list. default index is the last one.

'suffix'

In [38]:
l1.pop(0)

'prefix'

In [39]:
l1

[1, 'a', 2.3, 'xyz', 99, 0, 2.1, 'xyz', 'a', 'd', 'd', 'a', 'a', 1, 2, 3]

In [40]:
l1.remove('a')
# Removes the fist occurence of the value

In [41]:
l1

[1, 2.3, 'xyz', 99, 0, 2.1, 'xyz', 'a', 'd', 'd', 'a', 'a', 1, 2, 3]

In [42]:
l1.reverse()
# Reverse the values in the list based on index value

In [43]:
l1

[3, 2, 1, 'a', 'a', 'd', 'd', 'a', 'xyz', 2.1, 0, 99, 'xyz', 2.3, 1]

In [44]:
x = [2, 4, 10, 1, 6, 3]

In [45]:
x.sort()

In [46]:
x

[1, 2, 3, 4, 6, 10]

In [47]:
x.sort(reverse=True)

In [48]:
x

[10, 6, 4, 3, 2, 1]

# Mutability and Immutability

In [50]:
# Content or state of any mutable objects can be changed but the same is not true for immutable objects.
# Lists are mutable while tuples are immutable.
l1 = [0, 1, 2, 3]

In [51]:
l1[0] = 5

In [52]:
l1

[5, 1, 2, 3]

In [58]:
l1[3] = 'a'

In [53]:
t1 = (1, 2, 3, 4)

In [59]:
l1

[5, 1, 2, 'a']

In [54]:
t1[0] = 5

TypeError: 'tuple' object does not support item assignment

In [56]:
str1 = "Immutable"

In [57]:
str1[0] = 'p'

TypeError: 'str' object does not support item assignment

In [60]:
tup1 = ([1, 2, 3],'Sannjay')

In [63]:
tup1[0]

[1, 2, 3]

In [64]:
tup1[0]=[3,4,5]

TypeError: 'tuple' object does not support item assignment

# Methods of dictionaries

In [69]:
d1 = {'Name':['Sanjay','Priyanka','Abhijeet','Suprabhat'],'Age':[32,25,26,28]}

In [66]:
d1

{'Name': ['Sanjay', 'Priyanka', 'Abhijeet', 'Suprabhat'],
 'Age': [32, 25, 26, 28]}

In [67]:
d1.clear()
# Clears the dictionary keys and values

In [68]:
d1

{}

In [70]:
d1

{'Name': ['Sanjay', 'Priyanka', 'Abhijeet', 'Suprabhat'],
 'Age': [32, 25, 26, 28]}

In [71]:
d2 = d1.copy()
# copy the whole dictionary keys and values to a new dictionary

In [72]:
d2

{'Name': ['Sanjay', 'Priyanka', 'Abhijeet', 'Suprabhat'],
 'Age': [32, 25, 26, 28]}

In [79]:
seq1 = {'sal1','sal2','sal3'}

In [80]:
d3 = dict.fromkeys(seq1)
# To create a dictionary based on the keys available in a sequence.

In [81]:
d3

{'sal3': None, 'sal2': None, 'sal1': None}

In [82]:
d3 = dict.fromkeys(seq1,10000)

In [83]:
d3

{'sal3': 10000, 'sal2': 10000, 'sal1': 10000}

In [87]:
d2.get('Name')
# Returns the key values

['Sanjay', 'Priyanka', 'Abhijeet', 'Suprabhat']

In [89]:
d2.items()
# Provides the view of the content of the dictionary

dict_items([('Name', ['Sanjay', 'Priyanka', 'Abhijeet', 'Suprabhat']), ('Age', [32, 25, 26, 28])])

In [90]:
d2.keys()
# Returns the key values present in the dictionary

dict_keys(['Name', 'Age'])

In [91]:
d2.pop('Name')
# Removes the key and corresponding values specified from the dictionary

['Sanjay', 'Priyanka', 'Abhijeet', 'Suprabhat']

In [92]:
d2

{'Age': [32, 25, 26, 28]}

In [94]:
d2.pop('Name')

KeyError: 'Name'

In [97]:
d2.popitem()

('Age', [32, 25, 26, 28])

In [98]:
d2

{}

In [99]:
d2 = {'car':'santro','brand':'Hyundai','year':2019}

In [100]:
d2

{'car': 'santro', 'brand': 'Hyundai', 'year': 2019}

In [103]:
d2.popitem()
# Removes the last item from the dictionary

('brand', 'Hyundai')

In [102]:
d2

{'car': 'santro', 'brand': 'Hyundai'}

In [104]:
d2.setdefault('i20')
# If the key is not present, returns none

In [105]:
d2

{'car': 'santro', 'i20': None}

In [106]:
d2.setdefault('car')
# Returns the default value of the key.

'santro'

In [108]:
d3

{'sal3': 10000, 'sal2': 10000, 'sal1': 10000}

In [109]:
d3.values()
# Returns the values of each key in the dictionary

dict_values([10000, 10000, 10000])

In [110]:
d2.values()

dict_values(['santro', None])

In [112]:
d = {1: "one", 2: "three"}
d1 = {2: "two"}

In [113]:
# updates the value of key 2
d.update(d1)

In [114]:
d

{1: 'one', 2: 'two'}

In [115]:
d1 = {3: "three"}

# adds element with key 3
d.update(d1)

In [116]:
d

{1: 'one', 2: 'two', 3: 'three'}

# Methods of Sets

In [117]:
s1 = {1,2,3,4,5}

In [120]:
s1.add('a')
# Adds the element to the set

In [121]:
s1

{1, 2, 3, 4, 5, 6, 'a'}

In [122]:
s1.clear()

In [123]:
s1

set()

In [124]:
s2 = {'a','b','c','d'}

In [125]:
s3 = s2.copy()
# Copies the set to a new set

In [126]:
s3

{'a', 'b', 'c', 'd'}

In [127]:
s2.difference(s3)
# Gives the difference of values between two sets

set()

In [131]:
print(s2)
print(s1)
s2.difference(s1)

{'d', 'a', 'c', 'b'}
set()

{'a', 'b', 'c', 'd'}

In [135]:
s1 = {1,2,3,4,'a'}
print(s1)
print(s2)
s2.difference_update(s1)
print(s2)
# Removes the common value from the set and update the set

{1, 2, 3, 4, 'a'}
{'d', 'a', 'c', 'b'}
{'d', 'c', 'b'}

In [139]:
s1 = {1,2,3,'a'}
print(s1)
s1.discard('a')
print(s1)
# Discards the value from the set

{1, 2, 3, 'a'}
{1, 2, 3}

In [142]:
s1 = {1,2,3,'a'}
print(s1)
s2 = {4,5,6,'a'}
print(s2)
s3 = s1.intersection(s2)
print(s3)
# Returns the common value from two sets as a new set

{1, 2, 3, 'a'}
{'a', 4, 5, 6}
{'a'}

In [151]:
s1 = {1,2,3,'a'}
print(s1)
s2 = {1,4,5,6,'a'}
print(s2)
s1.intersection_update(s2)
print(s1)
# Update the common values from multiple sets and update the set

{1, 2, 3, 'a'}
{1, 4, 5, 6, 'a'}
{1, 'a'}

In [154]:
print(s1)
print(s2)
s2.isdisjoint(s1)
# Checks whether two sets are disjoint or not.

{1, 'a'}
{1, 4, 5, 6, 'a'}

False

In [156]:
s3 = {1,2,3}
print(s3)
s4 = {'a','b'}
print(s4)
s3.isdisjoint(s4)

{1, 2, 3}
{'a', 'b'}

True

In [157]:
s5 = {1,2,3,4,5}
print(s5)
s6 = {1,2,3}
print(s6)
s6.issubset(s5)
# Checks whether a set is subset of another set. Returns True or False

{1, 2, 3, 4, 5}
{1, 2, 3}

True

In [159]:
print(s5)
s5.pop()
print(s5)
# Removes the random value and update the set

{2, 3, 4, 5}
{3, 4, 5}

In [160]:
s1 = {1,2,3,4}
print(s1)
s2 = {3,4,5,6}
print(s2)
s3 = s1.symmetric_difference(s2)
print(s3)
# Returns the set of values which are not common in sets

{1, 2, 3, 4}
{3, 4, 5, 6}
{1, 2, 5, 6}

In [162]:
s1 = {1,2,3,4}
print(s1)
s2 = {3,4,5,6}
print(s2)
s1.symmetric_difference_update(s2)
print(s1)
# Update values which are not common in sets. Returns nothing.

{1, 2, 3, 4}
{3, 4, 5, 6}
{1, 2, 5, 6}

# Methods of Tuples

In [164]:
t1 = (1,2,3,4,'a','b','c')
print(t1)

(1, 2, 3, 4, 'a', 'b', 'c')

In [168]:
t1 = (1,2,3,4,'a','b','c',3,'a')
t1.count(3)
# Counts the number for how many times a value has appeared in a tuple

2

In [172]:
t1 = (1,2,3,4,'a','b','c','a')
print(t1)
t1.index(3)

(1, 2, 3, 4, 'a', 'b', 'c', 'a')

2

In [173]:
t1.index('a',5)

7