In [ ]:
s1 = {1.5,2,4.5}

In [ ]:
type(s1)

In [ ]:
s1

In [ ]:
s1[0]

In [ ]:
s1[0:2:1]

In [ ]:
s1.add(5)

In [ ]:
s1

In [ ]:
s1.clear()

In [ ]:
s1

In [ ]:
s1 = {'a', 'b', 'c'}

In [ ]:
s1

In [ ]:
s2 = s1.copy()

In [ ]:
s2

In [ ]:
s3 = {1,2,3,4,4,4,5} #takes only unique values

In [ ]:
s3

In [ ]:
s3.add(4)

In [ ]:
s3

In [ ]:
s3.add(5)

In [ ]:
s3

In [ ]:
s3.add(6)

In [ ]:
s3

In [ ]:
s3.add('a')

In [ ]:
s3

In [ ]:
s3.add('a')

In [ ]:
s3

In [ ]:
s3.difference(s2)

In [ ]:
s2.difference(s3)

In [ ]:
s3.difference_update(s2)

In [ ]:
s3

In [ ]:
s3.add('a')

In [ ]:
s3

In [ ]:
a = True

In [ ]:
type(a)

In [ ]:
int(a)

In [ ]:
a = 'hello'

In [ ]:
b = 'hEllo'

In [ ]:
a == b #case sensitive

In [ ]:
x = 0

In [ ]:
y = 1

In [ ]:
x > y

In [ ]:
x < y

In [ ]:
x == y

In [ ]:
x <= y

In [ ]:
x >= y

In [ ]:
int(False)

In [ ]:
float(True)

In [ ]:
a = input()

In [ ]:
a

In [ ]:
x = int (input("Enter a number:"))

In [ ]:
x

In [ ]:
x = input()

In [ ]:
x

In [ ]:
n = float(input("Enter a decimal value:"))

In [ ]:
n

In [ ]:
lunch = "Bi"

if lunch == "Kadhi Rice":
    print("Serve Priyanka")
elif lunch == "Biryani":
    print("Serve Sanjay")
else:
    print("Serve Suprabhat")

In [ ]:
loc = "sector 22"
#loc = "maruti vihar"
#loc = "sector 23"
#loc = "dexlab"

subl = input("Enter sub location:")

if loc == "sector 22":
    if subl == "cyberhub":
        print("suprabhat's home")
elif loc == "sector 23":
    print("priyanka niwas")
else:
    print("Sanjay ka ghar")

In [1]:
sndw = input("Enter the cheese you want to have (Veggie/Cheese):").lower()

if sndw == "Veggie".lower():
    print("Here is your Veggie Sandwich. Thank you!")
elif sndw == "Cheese".lower():
    sndw_c = input("Which kind of Cheese Sandwich do you want (Machengo/Cheddar)?:")
    if sndw_c == "Machengo".lower():
        print("Here is your Machengo Cheese Sandwich. Thank you!")
    elif sndw_c == "Cheddar".lower():
        print("Here is your Cheddar Cheese Sandwich. Thank you!")
    else:
        print("Kindly provide cheese type input")
else:
    print("We do not have what you have asked for. Sorry!")

Enter the cheese you want to have (Veggie/Cheese):VEGGIE
Here is your Veggie Sandwich. Thank you!

In [16]:
hy_u = float(input ("Enter the value of human years to convert into dog year:"))
if hy_u <= 2.0:
    dy_u = hy_u * 10.5
    print("The equivalent dog years are:",dy_u)
else:
    dy_u = (hy_u - 2)*4 + 21
    print("The equivalent dog years are:", dy_u)

Enter the value of human years to convert into dog year:4
The equivalent dog years are: 29.0

In [1]:
#Usage for mobile service for a customer
u_min = int(input("Enter the number of minutes used in a month:"))
u_sms = int(input("Enter the number of sms used in a month:"))

if u_min <= 50:
    tc_u_min = 0
else:
    tc_u_min = (u_min - 50)*0.25

if u_sms <= 50:
    tc_u_sms = 0
else:
    tc_u_sms = (u_sms - 50)*0.15

bill = (15 + tc_u_min + tc_u_sms + 0.44)
tax = bill*0.05
t_bill = bill + tax

print("Base plan cost per minutes: $0.25")
print("Base plan cost per sms: $0.15")
print("Total monthly additional minutes consumed: ",u_min-50)
print("Additional cost for extra minues consumed: $",tc_u_min)
print("Total monthly additional sms consumed: ",u_sms-50)
print("Additional cost for extra sms consumed: $",tc_u_sms)
print("Cost for 911 Support: $0.44")
print("Total tax @ 5% on bill is: $",tax)
print("Total monthly bill is: $",t_bill)

Enter the number of minutes used in a month:60
Enter the number of sms used in a month:60
Base plan cost per minutes: $0.25
Base plan cost per sms: $0.15
Total monthly additional minutes consumed:  10
Additional cost for extra minues consumed: $ 2.5
Total monthly additional sms consumed:  10
Additional cost for extra sms consumed: $ 1.5
Cost for 911 Support: $0.44
Total tax @ 5% on bill is: $ 0.9720000000000001
Total monthly bill is: $ 20.412000000000003